### Importing all the important Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm
from dotenv import dotenv_values
from sqlalchemy import create_engine
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import pairwise
from sklearn.metrics import accuracy_score
import statsmodels.formula.api as sm
from scipy.sparse import csr_matrix
import os
import streamlit as sl

!pip install streamlit

### Reading different datasets

df = pd.read_csv("../data/netflix_titles.csv")

df.head()

movies = df[df["type"]== "Movie"]

movies.info()

movies.to_csv ("../data/mv.csv", index =False)

tv = df[df["type"]== "TV Show"]

tv.to_csv ("../data/tv.csv", index =False)

### Filtering Movie titles

n = pd.read_csv("../data/movie_titles.csv", encoding = "unicode_escape" ,names= ["movieid","year","title"])

n.head()

n.info()

n.fillna(value=0, inplace= True)

n.info()

n["year"]= n["year"].astype(int)

n.head()

n.to_csv ("../data/movie_sorted.csv", index =False)

### Reading sorted Data

In [ ]:
n= pd.read_csv("../data/movie_sorted.csv")

In [ ]:
n.tail()

### Reading the rating files for movieid 1 and cleaning the file

In [ ]:
df = pd.read_csv("../data/mv_0000001.txt", names=["customerid","rating","date"] )

In [ ]:
df.head()

df["date"] = pd.to_datetime(df["date"], format = "%Y-%m-%d")

df.iloc[:1 , :1]

df= df.assign(movieid = df.iloc[:1 , :1])

df["movieid"].fillna(method= "ffill", inplace= True)

df = df.iloc[1:, :]

df["movieid"]= df["movieid"].str.replace(r":","")

df["movieid"]=df["movieid"].astype(int)

df.to_csv("../data/movieid1_rating.csv", index =False)

### checking the first cleaned rating file

In [ ]:
df= pd.read_csv("../data/movieid1_rating.csv")

In [ ]:
df.head()

### Creating a function to read and clean all the rating files

def parse_file(filename):
    df = pd.read_csv(f"../data/netflix_data/training_set/{filename}", names=["customerid","rating","date"])
    df["date"] = pd.to_datetime(df["date"], format = "%Y-%m-%d")
    df= df.assign(movieid = df.iloc[:1 , :1])
    df["movieid"].fillna(method= "ffill", inplace= True)
    df = df.iloc[1:, :]
    df["movieid"]= df["movieid"].str.replace(r":","")
    df["movieid"]=df["movieid"].astype(int)
    return df

parse_file("mv_0000001.txt").info()

os.listdir("../data/netflix_data/training_set")

### Creating and checking a test version of concatinated rating files

with open("../data/ratings_small.csv", mode="w", newline='') as file:
    for filename in tqdm(os.listdir("../data/netflix_data/training_set")[0:6]):
        if 'mv' in filename:
            df = parse_file(filename)
            df.to_csv(file, index=False, header=False)

In [ ]:
df_s= pd.read_csv("../data/ratings_small.csv", names=["customerid","rating","date", "movieid"])

In [ ]:
df_s["date"] = pd.to_datetime(df_s["date"], format = "%Y-%m-%d")

In [ ]:
df_s.info()

### Creating the large file containing all the ratings

with open("../data/ratings.csv", mode="w", newline='') as file:
    for filename in tqdm(os.listdir("../data/netflix_data/training_set")):
        if 'mv' in filename:
            df = parse_file(filename)
            df.to_csv(file, index=False, header=False)

### Reading and transforming the Qualify  file to add the Machine Learing results

qualify= pd.read_csv("../data/netflix_data/qualifying.txt", names = [ "customerid", "date"])

q= qualify[qualify["date"].isnull() ]

q["index"]= q.index

q["customerid"]= q["customerid"].str.replace(r":","")

q["customerid"].astype(int)

t = []

for i in tqdm(range(len(qualify))):
    x = q[q['index'] <= i].iloc[-1]['customerid']
#     c= x.['customerid']
    t.append(x)

print(t)
# [1,1,1,1,1,1,1,1,1,1, 10, 10, 10, ...., ]

# q['movieid'] = t

qualify['movieid'] = t

qualify.tail(20)

qualify.dropna(inplace= True)

qualify.to_csv("../data/qualify.csv", index =False)

### Reading the cleaned qualify file

In [ ]:
qualifier= pd.read_csv("../data/qualify.csv")

In [ ]:
qualifier

### Cleaning the probe file to compare the results of qualify dataset created with help of machine learning Algorithms

probe= pd.read_csv("../data/netflix_data/probe.txt", names = [ "customerid"])

p= probe[probe["customerid"].str.contains(":")]

p["index"]= p.index

p["customerid"]= p["customerid"].str.replace(r":","")

p["customerid"]= p["customerid"].astype(int)

s = []

for i in tqdm(range(len(probe))):
    y = p[p['index'] <= i].iloc[-1]['customerid']
    s.append(y)

probe['movieid'] = s

probe = probe[probe["customerid"].str.contains(":")== False]

probe.to_csv ("../data/probe.csv", index =False)

### Reading the cleaned probe file

In [ ]:
probability = pd.read_csv("../data/probe.csv")

In [ ]:
probability

## NEXT TASKS

#### Filter the data to create a better machine learning program

In [2]:
small= pd.read_csv("../data/ratings_small.csv" )
small.head()

   1488844  3.0  2005-09-06  1
0   822109  5.0  2005-05-13  1
1   885013  4.0  2005-10-19  1
2    30878  4.0  2005-12-26  1
3   823519  3.0  2004-05-03  1
4   893988  3.0  2005-11-17  1

In [3]:
movies = pd.read_csv("../data/movie_sorted.csv")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17770 entries, 0 to 17769
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieid  17770 non-null  int64
 1   year     17770 non-null  int64
 2   title    17770 non-null  object
dtypes: int64(2), object(1)
memory usage: 416.6+ KB

In [4]:
ratings = pd.read_csv("../../thymestamps-working-folder/data/_select_ratings_customerid_ratings_rating_ratings_movieid_netfli.csv")
ratings.head()

   customerid  rating  movieid               title
0     2407893     4.0     6974  The Usual Suspects
1     1673319     5.0     6974  The Usual Suspects
2         602     5.0     6974  The Usual Suspects
3     2604811     4.0     6974  The Usual Suspects
4     1329723     5.0     6974  The Usual Suspects

In [ ]:
ratings.info()

In [ ]:
ratings["rating"].isna().sum()

In [ ]:
ratings['customerid'].nunique(), ratings['movieid'].nunique(), ratings['movieid'].max()

In [5]:
user = csr_matrix((ratings['rating'], (ratings['customerid'], ratings['movieid'])))

#### like pivot_table but much more memory efficient

In [6]:
user.shape

(2649430, 17770)

In [7]:
# customerid vector
user[1,:].todense()

matrix([[0., 0., 0., ..., 0., 0., 0.]])

In [8]:
# movieid vector
user[:,1].todense().shape

(2649430, 1)

In [ ]:
UU = pairwise.euclidean_distances(user)
print(UU.shape)

sns.heatmap(UU, cmap='coolwarm')

### Deciding a Machine learning technique
#### Neighborhood-based Collaborative Filtering( Nearest Neighbors)
#### Neighborhood Components Analysis
#### nearest neighbors classifier

#### Test the algorithm

#### maybe create some visualisations to check the data distribution

#### Add ratings in Qualify dataset and compare with probe to check the accuracy

#### Create a Predictor system which takes 3 inputs from user and provides list of related movies

### Create a GUI using Streamlit