In [1]:
import pandas as pd

In [5]:
d= pd.read_csv("../data/ratings.csv", names=["customerid","rating","date", "movieid"])

In [6]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100480507 entries, 0 to 100480506
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   customerid  int64
 1   rating      float64
 2   date        object
 3   movieid     object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.0+ GB

In [8]:
d.tail()

           customerid  rating        date movieid
100480502     1790158     4.0  2005-11-01  17770:
100480503     1608708     3.0  2005-07-19  17770:
100480504      234275     1.0  2004-08-07  17770:
100480505      255278     4.0  2004-05-28  17770:
100480506      453585     2.0  2005-03-10  17770: